
/*############################# BODY CLASSES ##############################*/

body {
  background-color: gray;
  margin: 0;
}

.full-height {
  height: 100vh;
  padding-top: 46px; /*TODO: figure out how to make padding dynamic relative to the size of the navbar*/
}

.float-container {
  height: 50vh
}

.float-child {
  width: 50%;
  height: 100%;
  float: left;
}  

/*############################# NAVBAR CLASSES ##############################*/

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgray;
  position: fixed;
  top: 00;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 8px;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #dddddd;
}

#navbar .active {
  background-color: #4287f5;
}

/*############################# ABOUTME CLASSES ##############################*/

#aboutme {
  background-color: white;
}

#aboutme header {
  text-align: center;
}

#aboutme h1 {
  margin: 0;
}

#aboutme ul {
  display: block;
}

#aboutme ul li {
  display: block;
}

#description {
  text-align: center;
}

#profilepicture {
  text-align: center;
}

#profilepicture img {
  height: 100%; 
}

#languages {
  text-align: center;
}

/*############################# PROJECTS CLASSES ##############################*/

#projects {
  background-color: gray;
}

/*############################# CONTACT CLASSES ##############################*/

#contact {
  background-color: white;
}