
body {
  background-color: rgb(183, 226, 252);
  margin: 0;
}

header {
  text-align: center;
}

h1 {
  margin: 0;
}

#intro {
  padding-top: 46px; /*TODO: figure out how to make padding dynamic relative to the size of the navbar*/
}

/*############################# NAVBAR CLASSES ##############################*/

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  grey;
  position: fixed;
  top: 00;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 8px;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #dddddd;
}

#navbar .active {
  background-color: #4287f5;
}
 #navbar #contact {
  float: right;
 }

/*############################# ABOUTME CLASSES ##############################*/

#aboutme ul {
  display: block;
}

#aboutme ul li {
  display: block;
}
/*############################# CONTACT CLASSES ##############################*/